
   body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: url(img/fon2.jpg);
    
  
  
    }


    

    .clearfix:after {
    content:'';
    display: table;
    width: 100%;
    clear: both;
    }
  









    @media screen and (min-width: 25px) and (max-width: 480px) {
       
    
    #logo{
        background-color: rgba(0, 0, 0, 0.507);
        height: 50px;
        width: 100%;
      position: fixed;
    }

    #logo_img{
        height: 50px;
     
      margin-left: 10px;
     
     float: left;
    
    }

    #fon1{
     width: 100%;
     height:auto;
 
     
   
        }


     #fon1_img{
        width: 100%;
      
    
      
         }



         #menu {
            width: 100%;
            height: auto;
            margin-top: 5px;
            background-color: rgb(255, 255, 255);
            color: black;
            margin-left: 1%;
            float: left;
            text-decoration: none;
            border-radius: 25%;
           
        }

         #text3 {
            font-family: Georgia;
            margin-left: 7%;
            padding-top: 1%;
         padding-bottom: 1%;
            font-size: 20px;
            color: rgb(0, 0, 0);
        }

#film1{
    background-color: rgb(255, 0, 0);
    height: 500px;
 margin-top: 50px;
}



.film_bord{
    background-color: black;
    height: auto;
    border-radius: 20px;
    padding-top: 1%;
   padding-bottom: 1%;
}


.film_text1{
   color: rgb(255, 255, 255);
   font-size: 24px;
   padding-top: 1%;
   padding-bottom: 1%;
   margin-left: 5%;
   height: auto;
}



.block1{
    height: 150px;
    width: 110px;
    background-color: blue;
}





/*   ----------------------------------------------------------  */
        }

    


    
    













    








        @media screen and (min-width: 480px) and (max-width: 720px) {
    

        #logo{
            background-color: rgba(0, 0, 0, 0.507);
            height: 70px;
            width: 100%;
          position: fixed;
        }
    
        #logo_img{
            height: 70px;
         
          margin-left: 10px;
         
         float: left;
        
        }
    
        #fon1{
         width: 100%;
         height: auto;
     
         
       
            }
    
    
         #fon1_img{
            width: 100%;
          
        
          
             }
    
    

             #menu {
                width: 100%;
                height: auto;
                margin-top: 5px;
                background-color: rgb(255, 255, 255);
                color: black;
             
                float: left;
              
                text-decoration: none;
                border-radius: 25%;
            }
    
             #text3 {
                font-family: Georgia;
                margin-left: 4%;
                padding-top: 1%;
                padding-bottom: 1%;
                font-size: 32px;
                color: rgb(0, 0, 0);
            }
    



            #film1{
               background-color: rgb(40, 201, 0);
               height: 500px;
            margin-top: 69px;
           }
           
           
           
           .film_bord{
               background-color: black;
               height: auto;
               border-radius: 20px;
               padding-top: 1%;
              padding-bottom: 1%;
           }
           
           
           .film_text1{
              color: rgb(255, 255, 255);
              font-size: 24px;
              padding-top: 1%;
              padding-bottom: 1%;
              margin-left: 5%;
              height: auto;
           }
           
           
           
           .block1{
               height: 182px;
               width: 142px;
               background-color: blue;
               float: left;
           }
           
           
           .block1_1{
            height: 150px;
            width: 128px;
            background-color: rgb(217, 255, 0);
            margin-left: 8px;
           
        }
        


 
        .block2{
         height: 182px;
         width: auto;
         background-color: rgb(255, 81, 0);
         float: left;
     }
     
     
     .block2_1{
      height: 180px;
      width: 280px;
      background-color: rgb(0, 255, 64);
      margin-left: 2px;
      float: left;
     
  }


  .block2_2{
   height: 180px;
      width: 280px;
   background-color: rgb(119, 0, 255);
   margin-left: 2px;
   
   float: left;
}

























    
            }
   
    






        























    



